$base-color: #15202b;
$link-color: #1da1f2;

.container {
  position: relative;
  min-height: 100vh;
  line-height: 1.5;
  background-color: white;
  transition: 0.5s ease;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.description {
  font-size: 1.2em;
}

a {
  color: black;
  font-size: 1em;
}

@media (min-width: 350px) and (max-width: 415px) {
  .main-wrapper {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .main-wrapper {
    grid-template-columns: 1fr;
  }

  body {
    overflow-x: hidden;
  }
}

.container.dark-mode {
  background-color: $base-color;
  transition: 0.5s ease;
  color: white;
}

.dark-mode a {
  color: $link-color;
}

.wrapper-right.dark-mode {
  background-color: $base-color;
}
