.mainFooter {
  background-color: orange;
  bottom: 0;
  margin-top: 6.55em;
  position: relative;
  height: 80px;
}
.full-text {
  height: 2rem;
  position: absolute;
  font-size: 12vw;
  display: block;
  text-align: center;
  font-weight: lighter;
  line-height: 1.5;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.mobileFooter {
  visibility: hidden;
}

@media (min-width: 350px) and (max-width: 415px) {
  .grid-free,
  .mainFooter {
    visibility: hidden;
  }

  .mobileFooter {
    visibility: visible;
  }
}
