.mainFooter {
  background-color: orange;
  bottom: 0;
  margin-top: 7.2em;
  position: relative;
  height: 50px;
}
.full-text {
  height: 2rem;
  position: absolute;
  font-size: 12vw;
  display: block;
  text-align: center;
  font-weight: lighter;
  line-height: 1.5;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.mobileFooter {
  visibility: hidden;
}

@media (min-width: 350px) and (max-width: 415px) {
  .grid-free,
  .mainFooter {
    visibility: hidden;
  }

  .mobileFooter {
    bottom: 0;
    position: absolute;
    visibility: visible;
    background-color: purple;
    color: white;
    font-weight: 500;
    padding-top: 2.5em;
    height: 50px;
    width: 100vw;
    text-align: center;
  }

  .allFooters {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .grid-free,
  .mainFooter {
    visibility: hidden;
  }

  .mobileFooter {
    bottom: 0;
    position: absolute;
    visibility: visible;
    background-color: purple;
    color: white;
    font-weight: 500;
    padding-top: 2.5em;
    height: 50px;
    width: 100vw;
    text-align: center;
  }
}
