.wrapper-left {
  margin: 3em 1em 1em 10em;
}

.name-title {
  font-size: 2.5em;
  font-weight: 500;
}

.city {
  font-style: italic;
}

.aboutDebs {
  margin-bottom: 5em;
}

.profiles a {
  font-size: 1.1em;
  line-height: 1.5;
}

@media (min-width: 350px) and (max-width: 415px) {
  .wrapper-left {
    margin: 1em 4em 1em 4em;
  }
  .aboutDebs {
    margin-bottom: 2em;
  }

  .profiles a {
    line-height: 1;
    font-size: 1em;
  }
}

@media (width: 360px) {
  .profiles a {
    line-height: 1;
    font-size: 1em;
  }
}
