.pagination-links {
  display: flex;
  justify-content: center;
}

.page-item {
  list-style: none;
  margin-left: 1.5em;
}

.page-item a {
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  font-weight: 600;
}

.page-item a:hover {
  font-size: 1.4em;
  transition: color 0.1s ease-in-out;
  transition: font-size 0.2s ease-in;
  text-decoration: none;
}

@media (min-width: 1200px) {
  .less-bg {
    visibility: hidden;
  }
}
